<%= simple_nested_form_for(@pet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Pet's name" %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.input :size, collection: ['Very small', 'Small', 'Medium', 'Large', 'Very large'] %>
    <%= f.file_field :picture %>
    <%= f.input :availability, placeholder: 'What days and times is your pet available?' %>
  </div>

  <div>
  <%= f.fields_for :stores do |d| %>
    <%= d.input :suburb %>
    <%= d.input :manager %>
    <%= d.input :food %>
    <%= d.link_to_remove "Remove this store" %>
  <% end %>
</div>
<p><%= f.link_to_add "Add a store", :stores %></p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
