<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">

<%= image_tag @pet.picture_url, class: 'img-responsive img-thumbnail' %>
<p class="lead"><strong><%= @pet.name %></strong></p>

<p><strong>Breed:</strong>
  <%= @pet.breed %>
</p>
<p><strong>Age:</strong>
  <%= @pet.age %>
</p>
<p><strong>Size:</strong>
  <%= @pet.size %>
</p>
<p><strong>Availability:</strong>
  <%= @pet.availability %>
</p>

<%= link_to "Take me for a walk", new_booking_path(pet: @pet), class: 'btn btn-success btn-lg btn-block' %>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_pet_path(@pet) if current_user.pets.include?(@pet) %>
<% end %>

      </div>
    </div>
  </div>
</div>
